.navbar {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  margin-left: 20px;
}

#brand-logo {
  width: 130px;
  margin-left: 50px;
  margin-right: 80px;
  margin-bottom: 20px;
}

.navbar-nav .nav-link {
  color: #0d4278;
  font-family: "Playfair Display", sans-serif;
  font-size: 18px;
  text-decoration: none;
  margin-right: 20px;
  border-bottom: 3px solid transparent;
}

.navbar-nav .nav-link:hover {
  border-bottom: 3px solid #0d4278;
}

.search-form {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search-input {
  flex-grow: 1;
  min-width: 300px;
  border-radius: 5px 0px 0px 5px;
  border-right: none;
  padding: 10px;
  height: 50px;
  margin-right: 0px;
  margin-bottom: 0px;
  border-color: #0d4278;
  box-shadow: 0 0 10px rgba(13, 66, 120, 0.5);
}

.search-input:focus {
  box-shadow: 0 0 10px rgba(20, 94, 168, 0.5);
}

.search-button:focus {
  box-shadow: 0 0 10px rgba(20, 94, 168, 0.5);
}

.search-button {
  background-color: #0d4278;
  color: #ffffff;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 0px;
  height: 50px;
  width: 38px;
  margin-left: -9px;
  border-color: #0d4278;
  box-shadow: 0 0 10px rgba(13, 66, 120, 0.5);
}

.search-button:hover {
  background-color: #0d4278;
  color: white;
}

.login-font,
.signup-font,
.logout-font {
  margin-right: 5px;
}

.login-icon:hover,
.signup-icon:hover,
.logout-icon:hover {
  background-color: #0d4278;
  color: #ffffff;
}

.login-button,
.logout-button,
.signup-button {
  font-family: "Playfair Display", sans-serif;
  color: #0d4278;
  border-color: #0d4278;
  box-shadow: 0 0 10px rgba(13, 66, 120, 0.5);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover,
.logout-button:hover,
.signup-button:hover {
  background-color: #0d4278;
  color: #ffffff;
}

.modal-header {
  background-color: #effafc;
  border-bottom: 1px solid #90a5ba;
}

.modal-body {
  padding: 20px;
}

.modal-title {
  color: #0d4278;
  font-size: 24px;
  font-family: "Playfair Display", sans-serif;
}

@media (max-width: 767px) {
  #brand-logo {
    width: 100px;
    margin-left: 20px;
  }

  .navbar-nav .nav-link {
    font-size: 16px;
    margin-right: 10px;
  }

  .login-button,
  .logout-button,
  .signup-button {
    font-size: 12px;
    margin-right: 10px;
    padding: 3px 8px;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 767px) {
  #brand-logo {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .search-form {
    margin-bottom: 20px;
  }
}
